@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/Circularstd.ttf') format('truetype')
  /* Add more font formats if needed */
}

.circularstd-font {
  font-family: 'Circularstd', sans-serif;
}

@font-face {
  font-family: 'CircularStdBook';
  src: url('../fonts/CircularStdBook.ttf') format('truetype');
  font-weight: 400;
  /* Add more font formats if needed */
}

.circularstd-normal {
  font-family: 'CircularStdBook', sans-serif;
}

.image-one {
  animation: move-up 30s linear infinite;
}

.image-two {
  animation: scroll 40s linear infinite;
}

@keyframes move-up {
  from {
    transform: translateY(-40%); /* Set the initial position of the image */
  }
  to {
    transform: translateY(10%); /* Set the final position of the image */
  }
}


@keyframes scroll {
  from {
    transform: translateY(-100%); /* Set the initial position of the image */
  }
  
}



.mega-menu {
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}



/* #hoverable Class Styles */
.hoverable {
  position: static;
}

.hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  display: block;
}


/* #toggle Class Styles */

.toggleable > label:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}

.toggle-input:checked ~ .mega-menu {
  display: block;
}

.toggle-input:checked + label {
  color: white;
  background: rgb(3, 102, 114); /*@apply bg-teal-700 */
}

.toggle-input:checked ~ label:after {
  content: "\25B2";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.cta {
  letter-spacing: -.02rem;
}


.grid-template {
  grid-template-columns: 1fr .4fr;
}

@media (max-width: 960px) {

  .mobile-bg-white {
    background-color: white;
  }
  
  .mobile-nav-bg {
    background-image: linear-gradient(#491d8b,#8a3ffc)
  }

  
}




